.icon {
    display: flex;
    align-items: center;
}

    .icon::before {
        width: 20px;
        height: 20px;
        display: inline-block;
        content: '*';
        background-size: contain;
    }

.footer-icon {
    padding: 15px;
    max-height: 20px;
    opacity: 0.7;
}

    .footer-icon:hover {
        opacity: 0.8;
    }
.home::before {
    background-image: url('../image/icon/home-24px.svg');
}

.home:hover::before {
    background-image: url('../image/icon/home-24px_hover.svg');
}
